<div class="contenedor">
    <div class="contenido">
        <div class="respuesta" [ngSwitch]="centralesRiesgo.respuestaId" id="aprobado" [@animationFadeOut]="formularioViable.aprobado">
            
            <div class="caso" *ngSwitchCase="2">
                <img [src]="const.aprobado" alt="aprobado">
                <p class="mensaje">
                    Tu Solicitud es viable
                </p>
                <p class="comentario">
                    Podemos financiar el 100% de tu vehículo<br>un asesor se comunicará contigo de inmediato.
                </p>
            </div>
            <div class="caso" *ngSwitchCase="3">
                <img [src]="const.aprobado" alt="aprobado">
                <p class="mensaje">
                    Tu Solicitud es viable
                </p>
                <p class="comentario">
                    Podemos financiar el 100% de tu vehículo<br>un asesor se comunicará contigo de inmediato.
                </p>
            </div>
            <div class="caso" *ngSwitchCase="4">
                <img [src]="const.aprobado" alt="aprobado">
                <p class="mensaje">
                    Solicitud en proceso
                </p>
                <p class="comentario">
                    Ya tienes una solicitud en proceso.
                </p>
            </div>

            <div class="caso" *ngSwitchCase="1">
                <img [src]="const.negado" alt="negado">
                <p class="mensajeNeg">
                    Lo sentimos
                </p>
                <p class="comentario">
                    ¡Tu solicitud de crédito no es viable en estos momentos!<br> Esperamos que cuentes con nosotros en una próxima oportunidad.
                </p>
            </div>
        </div>

    </div>
    <div class="contBoton center">
        <button id="stepThree" mat-button (click)="apiMercadolibre.volverNavegador()">Volver a MercadoLibre</button>
    </div>
</div>
