<div class="contenedor">
    <div class="contenido">
        <div class="respuesta" id="aprobado" *ngIf="formularioViable.aprobado" [@animationFadeOut]="formularioViable.aprobado">
            <img [src]="const.aprobado" alt="aprobado">
            <p class="mensaje">
                Tu Solicitud es viable
            </p>
            <p class="comentario">
                Podemos financiar el 100% de tu vehículo<br> un asesor se comunicará contigo de inmediato.
            </p>
        </div>

        <div class="respuesta" id="negado" *ngIf="formularioViable.negado" [@animationFadeOut]="formularioViable.negado">
            <img [src]="const.negado" alt="negado">
            <p class="mensajeNeg">
                Lo sentimos
            </p>
            <p class="comentario">
                ¡Tu solicitud de crédito no es viable en estos momentos!<br> Esperamos que cuentes con nosotros en una próxima oportunidad.
            </p>
        </div>      

    </div>
    <div class="contBoton center">
        <button mat-button (click)="apiMercadolibre.volverNavegador()">Volver a MercadoLibre</button>
    </div>
</div>
