@import '../../../scss/variables';
@import '../../../scss/mixins';

.contenido{
    background-color: $color-blanco;
    .detallesTecnicos{
        display: grid;
        grid-template-columns: repeat(3, auto);
        grid-template-rows: repeat(2, auto);
    }
}