<mat-horizontal-stepper [linear]="isLinear" #stepper>

    <mat-step [stepControl]="primero">
      <form [formGroup]="primero">
        <ng-template matStepLabel>Calcula tu cuota</ng-template>

        <div class="contCampoUno">
            <div>
                <p class="tituloCampo">Costo total del vehiculo</p>
                <p class="cifra">{{ infoVehiculo.price | number:'1.0':'es'}}</p>
            </div>
        </div>

        <mat-label>Cuota inicial (Porcentaje {{porcentaje | number:'1.0-1':'es'}}%)</mat-label>
        <mat-form-field appearance="outline" class="full-width">
          <input 
          matInput
          currencyMask 
          placeholder="Cuota inicial"
          [options]="{ align: 'left', prefix: '$ ', suffix: '', thousands: '.', decimal: ',', precision: 0 }" 
          formControlName="cuotaInicial"
          required
          >
        </mat-form-field>

        <div class="contCampoDos">
            <div>
                <p class="tituloCampo">Valor total a financiar</p>
                <p class="cifra">$ {{ resultadoCalculadora.valorTotalFinanciar | number:'1.0':'es'}}</p>
            </div>
            <div>
                <p class="tituloCampo">Tasa Aproximada</p>
                <p class="cifra">{{ const.tasa * 100 | number:'1.0-1':'es'}} %</p>
                <p class="menuda">Sujeto a perfil de cliente*</p>
            </div>
        </div>

        <div class="contCampoUno">
            <p class="tituloCampo">Selecciona el número de cuotas</p>
        </div>

        <mat-radio-group formControlName="cuotas">
            <mat-radio-button
            *ngFor="let cuota of const.cuotas" 
            [value]="cuota"
            (click)="clickRadioCuota($event)"
            >{{cuota}}</mat-radio-button>
        </mat-radio-group>

        <div class="contResultado center">
            <b>{{primero.value.cuotas}}</b> pagos mensuales de <b>$ {{ resultadoCalculadora.valorCuota | number:'1.0':'es'}}</b>
        </div>

        <div class="contBoton center">
          <button mat-button matStepperNext>Financiar mi {{ infoVehiculo.title | primeraPalabra }}</button>
        </div>
      </form>
    </mat-step>

    <!-- Segundo Formulario -->

    <mat-step [stepControl]="segundo">
      <form [formGroup]="segundo">
        <ng-template matStepLabel>Ingresa tus datos</ng-template>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>¿Cómo te llamas?</mat-label>
          <input matInput formControlName="nombre" placeholder="¿Cómo te llamas?*" required>
        </mat-form-field>

        <div class="contCampoDos">            
            
            <mat-form-field appearance="outline" class="full-width">
                <mat-label>¿Cómo te llamas?</mat-label>
                <input matInput formControlName="nombre" placeholder="¿Cómo te llamas?*" required>
            </mat-form-field>

            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Nro. de identificación</mat-label>
                <input matInput formControlName="nombre" placeholder="Nro. de identificación*" required>
            </mat-form-field>

        </div>

        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Respuesta inmediata</ng-template>
      <p>You are now done.</p>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
      </div>
    </mat-step>
</mat-horizontal-stepper>