@import '../scss/variables';
@import "../scss/mixins";

.superContenedor{
    background-color: $color-grisUno;
    .contenedor{
        padding-left: 5%;
        padding-right: 5%;
        padding-bottom: 5%;
    }
}